html{
  height: 1100px;
  width: 100vw;
}

body{
 background-color: aliceblue;
 width: 100%;
 height: 100%;
 margin:0;

   


}


#header{
    background-color: rgb(69, 201, 206);
    color: black;
    text-align: center;
    padding-top:2px;
    padding-bottom:2px ;
    font: 1em sans-serif;
    font-weight:bolder;
    margin:1vh ;
    width: 95%;
}

#input{
    background-color: rgb(188, 220, 207);
    height: 15vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
   

}


#joystick{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    margin: 5vh;
    width: 80%;
    font-family: sans-serif;  
    background-color: rgb(22, 133, 198);  
     border-radius: 50%;       
}


#scroll{
   
    height: 10vh;
    margin-left: 8%;
    margin-right: 14%;
    width: 27%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
    border-radius: 50%;
 
}
#scroll1{
    height: 10vh;
    margin-left: 14%;
    margin-right: 8%;
   
    width: 27%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
    border-radius: 50%;
 
}

#btn{
    
    height: 7vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
 
    width: 60%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
}

#btn2{
    
    height: 7vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%; 
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
}

#btn3{
    
    height: 7vh;
    margin-left: 30%;
    margin-right: 30%;

    
 
    width: 40%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    border-radius: 60%;
    background-color: rgb(115, 210, 177);
}

#mydiv{
    width: 100%;
    height: 72%;
    margin: 0;
}

#div2{
    width: 100%;
    height: 72%;
    margin-top:10% ;

}

#up{
     height: 7vh;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10%;
    margin-top: 10%;
 
    width: 30%;
    font-family: sans-serif; 
    font-size: 50px; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}


#left{
     height: 7vh;
    margin-left: 8%;
    margin-right: 10%;
 
    width: 20%;
    font-family: sans-serif; 
    font-size: 50px; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}


#down{
     height: 7vh;
  
    margin-right: 10%;
 
    width: 20%;
    font-family: sans-serif; 
    font-size: 50px; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}


#Right{
     height: 7vh;
    
    margin-right: 7%;
   
 
    width: 20%;
    font-family: sans-serif; 
    font-size: 50px; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}


#space{
     height: 7vh;
    
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
 
    width: 80%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 181, 219);
     
}

#backspace{
     height: 7vh;
    
    margin-right: 10%;
    margin-left: 10%;
   margin-top: 10%;
    margin-bottom: 5%;
 
    width: 80%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 181, 219);
     
}

#esc{
     height: 7vh;
    margin-left: 30%;
    margin-right: 30%;
     margin-top: 5%;
     margin-bottom: 10%;
 
    width: 40%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}

#shift{
   height: 7vh;
    margin-left: 8%;
    margin-right: 5%;
 
    width: 20%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}

#ctrl{
     height: 7vh;
    
    margin-right: 7%;
   
 
    width: 20%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}

#prtsrc{
     height: 7vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
 
    width: 40%;
    font-family: sans-serif; 
    font-size: larger; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
     border-radius: 50%; 
}

#inputkey{
    height: 7vh;
  
    margin-right: 5%;
 
    width: 30%;
    font-family: sans-serif; 
    font-size: large; 
    font-weight: bolder;
    background-color: rgb(178, 226, 195);
    border-radius: 60%;
  
}

#dragstart{
     height: 7vh;
    margin-left: 10%;
    margin-right: 9%;
 
    width: 30%;
    font-family: sans-serif; 
    font-size: large; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
 
  

}

#dragstop{
     height: 7vh;
   margin-left: 9%;
    margin-right: 10%;
 
    width: 30%;
    font-family: sans-serif; 
    font-size: large; 
    font-weight: bolder;
    background-color: rgb(31, 219, 153);
    
  
}

#bar1{
    background-color: rgb(32, 184, 218);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top:1%;
    padding-bottom:1% ;
    height: 3%;
    margin-top: 10%;
    margin-right:1vh;
    margin-left: 1vh;
    width: 95%;
}

#bar2{
    background-color:  rgb(32, 184, 218);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top:1%;
    padding-bottom:1% ;
    height: 3%;
    margin-left:1vh ;
    margin-right:1vh ;
    margin-top: 10%;
   
    width: 95%;
}



#bar4{
    background-color:  rgb(32, 184, 218);
    padding-top:2px;
    padding-bottom:2px ;
    height: 3%;
    margin-left:1vh ;
    margin-right:1vh ;
    width: 95%;
}
